%h1 Latest Ads
%ul
  - @ads.each do |ad|
    %li
      = link_to ad.title, public_ad_path(ad)
      - if ad.user.name == current_user.name
        %small= link_to "You", account_path
      - else
        %small= ad.user.name
