%p#notice= notice
%h1
  = "Your Ads"
  %small.nojs= link_to "Create New", new_account_ad_path
%ul#ads
  =render partial: "account/ads/ad", collection: @ads
  %li#new
    %h2 Create New Ad
    =render partial: "account/ads/form"
